// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.counters {
    margin-right: 30px;
    font-size: 10px;
    text-align: center;
    .vote, .status {
        width: 60px;
        height: 60px;
    }
    .view {
        margin-top: 10px;
    }
    strong {
        font-size: 2em;
        display: block
    }
    .status {
        &.answered {
            border: 1px solid $green;
            color: $green;
        }
        &.unanswered {
            border: none;
        }
        &.answer-accepted {
            background: $green;
            color: #ffffff;
        }
    }
}